@font-face {
    font-family: "DinkieBitmap 9px";
    src: local("DinkieBitmap 9px"), local("丁卯点阵体 9px"),
        url("https://cdn.jsdelivr.net/gh/haldai/org-slides@master/style/fonts/DinkieBitmap-9px.woff2") format("woff2");
}

.video-holder {
    --bilibili-accent-color: #4d23cf;
    --bilibili-card-border-color: #fdf1fe;
    --bilibili-card-shadow-color: #805cdc;
    --bilibili-card-background-color: #f7e0fb;
    --bilibili-card-cover-color: #f7e1fb;
    --bilibili-card-cover-background-color: #fff8ff;
    --bilibili-card-title-color: #4e2c8e;
    --bilibili-card-subtitle-color: #4e2c8e;
    --bilibili-card-subtitle-background-color: #f7e1fb;
    --bilibili-card-content-color: #4e2c8e;
    font-family: "DinkieBitmap 9px";
    color-scheme: light;
}

.video-holder a {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    outline: 0;
}

.video-holder h1,
.video-holder h2,
.video-holder h3,
.video-holder h4,
.video-holder h5,
.video-holder h6,
.video-holder p {
    margin: 0;
}

.video-holder .iconfont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.video-holder .iconfont svg {
    width: 16px;
    height: 16px;
}

.video-holder .default-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.video-holder .view-flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
}

.video-holder .disable-event {
    pointer-events: none;
}

.video-holder .align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.video-holder .double-ellipsis,
.video-holder .single-ellipsis {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.video-holder .double-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.video-holder .single-ellipsis {
    white-space: nowrap;
}

.video-holder {
    position: relative;
    overflow: hidden;
}

.video-holder a {
    color: #4d23cf;
    color: var(--bilibili-accent-color);
    border-top: 2px solid #fdf1fe;
    border-top: 2px solid var(--bilibili-card-border-color);
    border-left: 2px solid #fdf1fe;
    border-left: 2px solid var(--bilibili-card-border-color);
    border-right: 2px solid #805cdc;
    border-right: 2px solid var(--bilibili-card-shadow-color);
    border-bottom: 2px solid #805cdc;
    border-bottom: 2px solid var(--bilibili-card-shadow-color);
}

.video-holder:active a {
    border-top: 2px solid #805cdc;
    border-top: 2px solid var(--bilibili-card-shadow-color);
    border-left: 2px solid #805cdc;
    border-left: 2px solid var(--bilibili-card-shadow-color);
    border-right: 2px solid #fdf1fe;
    border-right: 2px solid var(--bilibili-card-border-color);
    border-bottom: 2px solid #fdf1fe;
    border-bottom: 2px solid var(--bilibili-card-border-color);
}

.video-holder .cover-box {
    width: 150px;
    height: 92px;
    font-size: 42px;
    position: relative;
    overflow: hidden;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    float: left;
}

.video-holder .default-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 100%;
    font-size: inherit;
    color: #f7e1fb;
    color: var(--bilibili-card-cover-color);
    fill: #f7e1fb;
    fill: var(--bilibili-card-cover-color);
    background-color: #fff8ff;
    background-color: var(--bilibili-card-cover-background-color);
    text-align: center;
}

.video-holder .default-cover svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 42px;
    height: 42px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.video-holder .cover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.video-holder .video-cover-img:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-18px, -13px);
    -moz-transform: translate(-18px, -13px);
    -ms-transform: translate(-18px, -13px);
    -o-transform: translate(-18px, -13px);
    transform: translate(-18px, -13px);
    width: 36px;
    height: 26px;
    background-image: url(https://s1.hdslb.com/bfs/static/jinkela/article-web/asserts/icon_video_logo.png);
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-position: 50%;
    z-index: 2;
}

.video-holder .video-icon {
    font-size: 32px;
    color: #f7e1fb;
    color: var(--bilibili-card-cover-color);
}

.video-holder .video-subtitle {
    position: absolute;
    bottom: 4px;
    right: 4px;
    background: #f7e1fb;
    background: var(--bilibili-card-subtitle-background-color);
}

.video-holder .video-duration {
    padding: 1px 3px;
    font-size: 10px;
    line-height: 14px;
    color: #4e2c8e;
    color: var(--bilibili-card-subtitle-color);
}

.video-holder .video-content-container {
    width: 100%;
    display: grid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 10px 0;
    height: 92px;
    text-align: left;
    color: #4e2c8e;
    color: var(--bilibili-card-content-color);
    fill: #4e2c8e;
    fill: var(--bilibili-card-content-color);
    background: #f7e0fb;
    background: var(--bilibili-card-background-color);
}

.video-holder .video-title {
    margin-bottom: 0;
    height: 38px;
    line-height: 19px;
    font-size: 13px;
    color: #4e2c8e;
    color: var(--bilibili-card-title-color);
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    padding-right: 10px;
    white-space: pre-line;
}

.video-holder .video-card-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

.video-holder .video-card-info .cover-info-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 21px;
    line-height: 21px;
}

.video-holder .cover-info-item {
    display: inline-block;
    height: 21px;
    line-height: 21px;
    text-align: left;
    font-size: 12px;
}

.video-holder .num-info {
    padding: 0px 4px;
    display: inline-block;
    min-width: 50px;
}

.video-holder .video-card-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.video-holder .card-text-label {
    -webkit-transform: scale(.87) translateY(1px);
    -moz-transform: scale(.87) translateY(1px);
    -ms-transform: scale(.87) translateY(1px);
    -o-transform: scale(.87) translateY(1px);
    transform: scale(.87) translateY(1px);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    position: relative;
    display: inline-block;
    padding: 0 3px 0 4px;
    height: 17px;
    line-height: 16px;
    font-size: 10px;
    color: #4d23cf;
    color: var(--bilibili-accent-color);
    text-align: center;
    border: #4d23cf;
    border: var(--bilibili-accent-color);
}

.video-holder .card-text-label:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 16px;
    border: .08em solid;
    border-color: inherit;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.video-holder .author-info {
    margin-left: 4px;
    padding-right: 12px;
    line-height: 22px;
}

.video-holder .up-icon svg {
    width: 14px;
    height: 14px;
}

.video-holder .author-name {
    margin-left: 2px;
    display: inline-block;
    font-size: 10px;
}